<div class="footer" [ngClass]="{'mobile' : widthC!=undefined && cap!=undefined && widthC<cap}">
    <div >
        <h1>Donde encontrarnos</h1>
        <div class="end" (click)="mapsG()"><i class="fa-solid fa-location-dot"></i> TRIUNVIRATO 2219 Don Torcuato, Tigre</div>
    </div>
    <div >
        <h1>Contactanos</h1>
        <div (click)="wspW()"><i class="fa-brands fa-whatsapp"></i> {{number}}</div>
        <span class="end"><i class="fa-solid fa-envelope"></i> contacto&#64;gruppodf.com.ar</span>
    </div>
</div>