<div class="svh seccion">
    <!-- <div class="inicio noventas"> -->
        <!-- <p style="font-size: 400%;">
            Gestión de vehículos
        </p>
        <p>
            Gruppo DF llegó para brindar soluciones y servicios a la medida de cada cliente.
            Deje en nuestras manos la gestión de sus vehículos.
        </p>
        <p>
            <span class="pill"><span>Seriedad</span> y <span>Transparencia</span> en cada etapa del Proceso.</span>
        </p> -->
    <!-- </div> -->
    <div class="inicio foto shadow">
        <p>
            <span>Gruppo DF</span> <br>
            Gestión de vehículos
        </p>
    </div>
    <div class="info cartas">
        <p class="card cardB">
            <!-- <span>Seriedad</span> y <span>Transparencia</span> en cada etapa del Proceso -->
            <span class="m1">Seriedad</span> y <span class="m2">Transparencia</span> en cada etapa del Proceso.
        </p>
        <p class="card cardA rounded border">
            Gruppo DF llegó para brindar soluciones y servicios a la medida de cada cliente.
            Deje en nuestras manos la gestión de sus vehículos.
        </p>
    </div>
</div>
