.inicio{
    border-left: 5px solid;
    border-color: var(--amarello);
    height: 80%;
    p{
        color: var(--black);
        padding-left: 5rem;
        font-size: xxx-large;
        height: 41%;
        align-content: center;
        font-family: 'avenir';
        @media (max-width: 920px){
            font-size: xx-large;
        }
        @media (max-width: 600px){
            font-size: x-large;
            padding-left: 2rem;
        }
        span{
            color: var(--blue);
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}