<div class="svh seccion">
    <div class="inicio foto">
        <p>
            <span>Gruppo DF</span> <br>
            Gestión de vehículos
        </p>
    </div>
    <div class="shadow"></div>
    <div class="info cartas">
        <p class="card cardB">
            <span class="m1">Seriedad</span> y <span class="m2">Transparencia</span> en cada etapa del Proceso.
        </p>
        <p class="card cardA rounded border">
            Gruppo DF llegó para brindar soluciones y servicios a la medida de cada cliente.
            Deje en nuestras manos la gestión de sus vehículos.
        </p>
    </div>
</div>
