.inicio{
    border-left: 5px solid;
    border-color: var(--amarello);
    p{
        color: var(--white);
        padding-left: 5rem;
        font-size: xxx-large;
        height: 41%;
        align-content: center;
        @media (max-width: 650px){
            font-size: xx-large;
            padding-left: 2rem;
        }
        span{
            color: var(--blue);
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}