<!-- <div class="img shadow">
    <span class="df back shadow"><span style="margin: 3%;">
        Gruppo DF llegó para brindar soluciones y servicios a la medida de cada cliente. 
        Deje en nuestras manos la gestión de sus vehículos. Seriedad y Transparencia en cada etapa del Proceso
    </span></span>
</div> -->
<div class="soluciones maspadding">
    <div class="box box2">
        <div class="caja caja1 rounded glass" style="display: inline-flex;"><span class="text">
            Gruppo DF llegó para brindar soluciones y servicios a la medida de cada cliente. 
            Deje en nuestras manos la gestión de sus vehículos. Seriedad y Transparencia en cada etapa del Proceso
            </span></div>
        <div class="img caja caja2 rounded" style="display: inline-flex;"></div>
    </div>
</div>
