.inicio{
    /* border-left: 5px solid; */
    /*https://www.freepik.es/foto-gratis/fila-coches-nuevos-puerto_13180844.htm#fromView=search&page=1&position=18&uuid=7ea80da8-0034-447a-b4d1-6d54096126bd 
    Imagen de tawatchai07 en Freepik*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("../../../../public/806.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Shameimaru Sans;
    align-content: center;
    /* border-color: var(--amarello); */
    /* height: 80%; */
    p{
        color: var(--white);
        /* padding-left: 5rem; */
        font-size: xxx-large;
        height: 41%;
        align-content: center;
        text-align: center;
        @media (max-width: 920px){
            font-size: xx-large;
        }
        @media (max-width: 600px){
            font-size: x-large;
            /* padding-left: 2rem; */
        }
        span{
            /* color: var(--amarello); */
            /* text-transform: uppercase; */
            font-weight: 1000;
        }
    }
}
.pill{
    background-color: var(--amarello);
    border-radius: 12px;
    height: 20% !important;
}
.foto{
    height: 50%;
    width: 100%;
    /* top: 0;
    position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: xxx-large;
        /* align-content: center;
        text-align: center; */
        @media (max-width: 920px){
            font-size: xx-large;
        }
        @media (max-width: 600px){
            font-size: x-large;
        }
        span{
            font-family: Avenir;
            font-size: x-large;
            @media (max-width: 920px){
                font-size: large !important;
            }
            @media (max-width: 600px){
                font-size: medium !important;
            }
        }
    }
}
.info{
    height: 50%;
    width: 90%;
    bottom: 0;
    position: absolute;
}
.shadow{
    width: 100%;
    box-shadow: 0 0px 30px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0px 30px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0px 30px 30px rgba(0, 0, 0, 0.3);
}
.cardA{
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid rgb(212, 120, 0);
}
.cardB{
    color: var(--black);
    justify-content: center;
    height: 10% !important;
    span{
        color: var(--amarello);
    }
}
.card{
    width: 50%;
    height: 30%;
    display: flex;
    padding: 2rem;
    font-size: xx-large;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    @media (max-width: 1500px){
        font-size: x-large;
    }
    @media (max-width: 900px){
        font-size: large;
        width: 80%;
    }
    @media (max-width: 370px){
        font-size: large;
        width: 80%;
    }
}
.cartas{
    display: flex;
    align-items: center;
    @media (max-width: 900px){
        flex-direction: column;
    }
}
.m1{
    margin-right: 0.5rem;
}
.m2{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}