<div class="myazul navbar">
    <!-- <div><img src="" alt="Gruppo DF"></div>  -->
    <div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='inicio'}" (click)="activar('inicio')"><span class="navtext">Inicio</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='servicios'}" (click)="activar('servicios')"><span class="navtext">Servicios</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='nosotros'}" (click)="activar('nosotros')"><span class="navtext">Nosotros</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='contacto'}" (click)="activar('contacto')"><span class="navtext">Contacto</span></div>
    </div>
</div>