.navbar{
    position: fixed;
    height: 8%;
    top:0;
    left: 0;
    width:100%;
    z-index:100;
    color: var(--text);
    display: flex;
    font-size: x-large;
    flex-wrap: wrap;
    justify-content: center;
}
.btnnav{
    margin-inline: 0.5rem;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--text);
        transform: skew(20deg);
        span {
            transform: skew(-20deg);
        }
    }
}
.colortext{
    &:hover {
        color: #191970;
    }
}
.navtext{
    width: 6.8rem;
    align-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.activa{
    background-color: var(--text);
    color: var(--azul);;        
    transform: skew(20deg);
    span {
        transform: skew(-20deg);
    }
}