.navbar{
    position: fixed;
    height: 8%;
    top:0;
    left: 0;
    width:100%;
    z-index:100;
    color: var(--color4);
    display: flex;
    font-size: x-large;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color1D);
    backdrop-filter: blur(10px);
    font-family: Avenir;
}
.btnnav{
    margin-inline: 0.5rem;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    transform: skew(20deg);
    /* &:hover {
        background-color: var(--color3);
        transform: skew(20deg);
    } */
    span {
        width: 9rem;
        align-content: center;
        text-align: center;
        transition: all 0.15s ease-in-out;
        transform: skew(0deg);
        font-style: italic;
        &:hover{
            color: var(--color2);
        }
    }
}
.btnnav::before{
    content: " ";
    transition: all 255ms ease-in;
    position: absolute;
    /* -moz-transition: all 255ms ease-in;
    -webkit-transition: all 255ms ease-in; */
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    /* -webkit-transform: scale3d(1, 1, 1); */
    width: 100%;
    height: 100%;
    float: inline-end;
    background-color: var(--color3);
    opacity: 1;
}
.btnnav:hover:before {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}
.activa{
    background-color: var(--color3);
    color: var(--color2);
}