<div class="navbar glass">
    <!-- <div><img src="" alt="Gruppo DF"></div>  -->
    <div class="logo"><span>Gruppo DF</span></div>
    <div *ngIf="widthC!=undefined && cap!=undefined && widthC>cap else mobile">
        <div class="btnnav" [ngClass]="{'activa' : activa=='inicio'}" (click)="activar('inicio')"><span>Inicio</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='servicios'}" (click)="activar('servicios')"><span>Servicios</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='nosotros'}" (click)="activar('nosotros')"><span>Nosotros</span></div>
        <div class="btnnav" [ngClass]="{'activa' : activa=='contacto'}" (click)="activar('contacto')"><span>Contacto</span></div>
    </div>
    <ng-template #mobile>
        <i [ngClass]="{'fa-bars' : !menuOpen, 'fa-xmark' : menuOpen}" class="fa-solid" (click)="open()"></i>
    </ng-template>
</div>
<div *ngIf="widthC!=undefined && cap!=undefined && widthC<cap" class="menu glass" [ngClass]="{'none' : !menuOpen}">
    <div (click)="activar('inicio')"><span>Inicio</span></div>
    <div (click)="activar('servicios')"><span>Servicios</span></div>
    <div (click)="activar('nosotros')"><span>Nosotros</span></div>
    <div (click)="activar('contacto')"><span>Contacto</span></div>
</div>