<div class="soluciones2 bgw">
    <h1 class="sub2"><span>SOLUCIONES</span></h1>
    <div>
        <ng-container *ngFor="let card of cards">
            <div class="card background rounded border">
            <!-- <div class="card background rounded border" [ngStyle]="{'background-image': 'url('+card.img+')',}"> -->
                <span class="rounded">
                    <p class="glass pill rounded border">{{card.text}}</p>
                    <i class="fa-solid " [ngClass]="card.img"></i>
                </span>
            </div>
        </ng-container>
    </div>
</div>
