.serv{
    height: 80vh;
    background-color: var(--white);
    text-align: center;
    background-image: url('../../../../public/blurry-gradient-haikei.webp');
    background-repeat:no-repeat;
    background-size:cover;
    color: var(--white);
    @media (max-height: 800px){
        height: 100vh;
    }
    @media (max-width: 400px){
        height: 105vh;
    }
}
.card{
    width: 25rem;
    height: 14rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    align-content: flex-start;
    @media (max-width: 900px){
        width: 20rem;
        height: 15.5rem;
    }
    @media (max-width: 720px){
        width: 15rem;
        margin: 0.25rem;
    }
    @media (max-width: 500px){
        width: 12rem;
        margin: 0.15rem;
        font-size: small;
    }
    @media (max-width: 400px){
        width: 10rem;
        height: 20rem;
        margin: 0.15rem;
        font-size: x-small;
    }
}
.lineaA{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
    border-top-right-radius: 12px;
    border-bottom: 1px solid rgb(255, 144, 0, 0.15)/*rgba(48, 131, 220, 0.15)*/;
    @media (max-width: 500px){
        height: 30%;
    }
    P{
        width: 100%;
    }
    i{
        font-size: xx-large;
        width: 4rem;
        display: flex;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
}
.lineaB{
    width: 100%;
    display: flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    justify-content: flex-start;
    padding: 1rem;
    text-align: left;
    font-family: Avenir;
    /* @media (max-width: 900px){
        font-size: small;
    } */
    @media (max-width: 720px){
        font-size: small;
    }
    /* @media (max-width: 500px){
        font-size: x-small;
    } */
}
.cartas{
    height: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}