.box{
    width: 70%;
    /* height: 40rem; */
    display: inline-flex;
    margin-bottom: 2rem;
}
.caja1{
    width: 50%;
    border-right: none;
    color: var(--color4);
}
.caja2{
    width: 50%;
    border-left: none;
    background-color: var(--color3);
    span{
        color: var(--color2);
    }
}
.caja{
    border-width: 0.4rem;
}
.text{
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    transform: skew(0deg);
    margin: 2rem;
    line-height: 130%;
    font-size: 150%;
    font-style: italic;
}