.cardA{
    background-color: var(--blueD);
    color: var(--white);
}
.cardB{
    color: var(--black);
}
.card{
    width: 50%;
    height: 40%;
    display: flex;
    padding: 2rem;
    font-size: xx-large;
    align-items: center;
    @media (max-width: 1200px){
        font-size: xx-large;
    }
    @media (max-width: 900px){
        font-size: x-large;
        width: 80%;
    }
    @media (max-width: 370px){
        font-size: large;
        width: 80%;
    }
}
.cartas{
    display: flex;
    align-items: center;
    @media (max-width: 900px){
        flex-direction: column;
    }
}