<div class="soluciones">
    <h1 class="backskrew shadow"><span class="unskrew">NOSOTROS</span></h1>
    <div class="box">
        <div class="backskrew caja caja1 shadow"><span class="text">
            Somos una empresa que brinda soluciones vinculadas al automotor. 
            Asistimos a compañías de seguros y a empresas con flota vehicular.
        </span></div>
        <div class="backskrew caja caja2 shadow"><span class="text">
            Nuestro objetivo es poner a disposición de nuestros clientes 
            una gama de servicios que los contenga en cada etapa de sus procesos. Para cada necesidad de nuestros clientes, ofrecemos una solución.
        </span></div>
    </div>
</div>