<div class="svh seccion bgB">
    <h1 class="titulos tb">Nosotros</h1>
    <div class="noventas cartas">
        <p class="card cardA rounded border">
            Somos una empresa que brinda soluciones vinculadas al automotor. Asistimos a compañías de seguros y a empresas con flota vehicular. 
        </p>
        <p class="card cardB">
            Nuestro objetivo es poner a disposición de nuestros clientes una gama de servicios que los contenga en cada etapa de sus procesos. 
            Para cada necesidad de nuestros clientes, ofrecemos una solución.
        </p>
    </div>
</div>