<div class="soluciones">
    <h1 class="sub"><span>NOSOTROS</span></h1>
    <div class="box">
        <div class="caja caja1 rounded glass" style="display: inline-flex;"><span class="text">
            Somos una empresa que brinda soluciones vinculadas al automotor. 
            Asistimos a compañías de seguros y a empresas con flota vehicular.
        </span></div>
        <div class="caja caja2" style="display: inline-flex;"><span class="text">
            Nuestro objetivo es poner a disposición de nuestros clientes 
            una gama de servicios que los contenga en cada etapa de sus procesos. Para cada necesidad de nuestros clientes, ofrecemos una solución.
        </span></div>
    </div>
</div>