/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

:root {
    /* --color1: #191970;
    --color1D: rgb(25, 25, 112, .85);
    --color2: slategrey;
    --color3: azure; */
    /* ---------------------------- */
    /* --color1: rgb(189, 164, 136);
    --color1D: rgb(189, 164, 136, .85);
    --color2: #e2f4f7;
    --color3: #2e2e2d;
    --color4: black; */
    /* ---------------------------- */
    --color1: rgb(25, 50, 60);
    --color1D: rgb(25, 50, 60, .85);
    --color2: #5688C7;
    --color3: #F9F9F9;
    --color4: white;
}
html{
    scroll-behavior: smooth;
}
body {
    /* font-family: 'Barlow', sans-serif; */
    font-family: Helvetica Neue;
    margin : 0;
    background-color: var(--color3);
    /* margin-top: 7rem; */
    /* margin-right: 2rem;
    margin-left: 2rem; */
}
h1{
    font-family: Avenir;
}
.sub{
    color: var(--color2);
    border-bottom: solid;
    span{
        color: black;
    }
}
.border{
    border: solid;
    /* border-color: var(--color2); */
}
.rounded{
    border-radius: 1rem;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.backskrew{
    background-color: var(--color1D);
    color: var(--color4);
    border-left: solid;
    border-right: solid;
    border-color: white;
    border-width: 0.2rem;
    span {
        display: block;
    }
}
.soluciones{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    margin-top: 5rem;
}
.box{
    width: 70%;
    /* height: 40rem; */
    display: inline-flex;
    margin-bottom: 2rem;
    @media (max-width: 950px) {
        flex-direction: column;
    }
    @media (min-width: 950px) {
        flex-direction: row;
    }
    @media (max-width: 700px) {
        width: 100%;
    }
}
.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 950px) {
        width: 100%;
    }
    @media (min-width: 950px) {
        width: 50%;
    }
}